<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>My Amazing Fat Client Portfolio Builder</title>
  <link rel="stylesheet" href="/assets/main.css">
</head>

<body>

  <section id="navigation">
  </section>

  <section id="content">
  </section>

  <section id="footer">
  </section>

  <!-- Load application scripts at the end of the body, so that we
  don't slow up the loading time of the DOM -->
  <script src="/assets/application.js"></script>

</body>

</html>