<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>My Amazing Fat Client Portfolio Builder</title>
  <%= stylesheet_link_tag :application %>
  <%= csrf_meta_tag %>
</head>

<body>

  <section id="navigation">
    <%= link_to "Login with github", authorize_github_users_path, :class => "login-github" %>
  </section>

  <section id="content">
  </section>

  <section id="footer">
  </section>

  <!-- Load application scripts at the end of the body, so that we
  don't slow up the loading time of the DOM -->
  <%= javascript_include_tag :application %>

</body>

</html>
